/.vscode
/.node_modules
/.git
./dist
*.env
*.log   
/.DS_Store
/.vscode-test
/.prettierignore
/.prettierrc
/.eslintrc.json
/.eslintignore
/.eslintcache
/.gitignore
/.npm
/.yarn
/.yarn-cache
/.yarn-error.log
/.yarn-integrity
/.yarnrc.yml
